In [1]:
import pandas as pd
import os
import numpy as np
import sys
sys.path.append('../.')
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')
from vali_tools.valitools import check_health
from transform import cycle,fasting,feed,measurement,pond_farm,sampling_harvest

In [2]:
filename = os.listdir(r'.\feature')[0]
rep_dir = r'.\report'

In [3]:
df = pd.read_parquet(r'.\feature\{}'.format(filename))

In [4]:
check_health(df)

,col_name,null_count,unique_count,row_count,dupe_count,null_pct,unique_pct,dupe_pct,mean,std,min,max,25_pct,50_pct,75_pct,col_types,mode,freq
0,cycle_id,0,2500,2500,0,0.0000,1.0000,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,20849,1
1,species_id,0,2,2500,2498,0.0000,0.0008,0.9992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,1.0,2366
2,total_seed,0,868,2500,1632,0.0000,0.3472,0.6528,2.171546e+05,1.800000e+06,1.706622e+05,3.000000e+05,10.000000,90000.000000,1.847220e+05,numeric,NaN,NaN
3,area,0,648,2500,1852,0.0000,0.2592,0.7408,2.233093e+03,4.225000e+05,1.237285e+04,2.238682e+03,1.020000,803.840000,1.368000e+03,numeric,NaN,NaN
4,initial_age,0,38,2500,2462,0.0000,0.0152,0.9848,7.096000e-01,7.500000e+01,4.759320e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,numeric,NaN,NaN
5,subscription_type,0,2,2500,2498,0.0000,0.0008,0.9992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,Free,2303
6,total_seed_type,0,3,2500,2497,0.0000,0.0012,0.9988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,net,1238
7,pond_length,0,339,2500,2161,0.0000,0.1356,0.8644,4.347236e+01,6.500000e+02,2.625321e+01,5.164000e+01,3.000000,30.000000,4.000000e+01,numeric,NaN,NaN
8,pond_width,0,384,2500,2116,0.0000,0.1536,0.8464,3.544079e+01,6.500000e+02,2.273345e+01,4.302000e+01,1.500000,26.000000,3.400000e+01,numeric,NaN,NaN
9,pond_depth,0,37,2500,2463,0.0000,0.0148,0.9852,4.199572e+00,3.000000e+02,1.964418e+01,1.500000e+00,0.600000,1.000000,1.250000e+00,numeric,NaN,NaN
10,cyc_dur,0,167,2500,2333,0.0000,0.0668,0.9332,7.886280e+01,6.190000e+02,3.114615e+01,9.800000e+01,5.000000,58.000000,7.800000e+01,numeric,NaN,NaN
11,fasting,0,59,2500,2441,0.0000,0.0236,0.9764,4.004400e+00,1.080000e+02,8.044916e+00,4.000000e+00,0.000000,0.000000,1.000000e+00,numeric,NaN,NaN
12,cons_fast_count,0,51,2500,2449,0.0000,0.0204,0.9796,2.964800e+00,1.080000e+02,7.101192e+00,2.000000e+00,0.000000,0.000000,1.000000e+00,numeric,NaN,NaN
13,quantity,0,2378,2500,122,0.0000,0.9512,0.0488,4.825060e+03,2.195255e+05,1.764388e+04,5.200125e+03,0.000000,550.300000,1.873825e+03,numeric,NaN,NaN
14,cons_feed_count,0,171,2500,2329,0.0000,0.0684,0.9316,7.524040e+01,1.940000e+02,2.977250e+01,9.500000e+01,1.000000,55.000000,7.400000e+01,numeric,NaN,NaN
15,morning_temperature,0,1725,2500,775,0.0000,0.6900,0.3100,2.844189e+01,5.433054e+02,1.121317e+01,2.872736e+01,7.900000,27.731936,2.825465e+01,numeric,NaN,NaN
16,morning_salinity,0,1801,2500,699,0.0000,0.7204,0.2796,2.280353e+01,2.426460e+02,9.845386e+00,2.659012e+01,1.973652,18.870536,2.275498e+01,numeric,NaN,NaN
17,morning_pH,0,2003,2500,497,0.0000,0.8012,0.1988,8.195318e+00,4.440000e+02,9.182116e+00,8.066827e+00,6.600000,7.781229,7.912641e+00,numeric,NaN,NaN
18,last_sampled_weight,193,1152,2500,1348,0.0772,0.4608,0.5392,1.353984e+01,1.000000e+02,8.456740e+00,1.889000e+01,0.010000,7.085000,1.150000e+01,numeric,NaN,NaN
19,avg_growth_rate,44,1137,2500,1363,0.0176,0.4548,0.5452,2.027486e+00,7.500000e+01,3.213642e+00,2.800000e+00,-25.500000,0.300000,1.505000e+00,numeric,NaN,NaN
20,selling_price,141,1680,2500,820,0.0564,0.6720,0.3280,8.177924e+07,1.125000e+10,2.811048e+08,8.707827e+07,0.000000,0.000000,1.358950e+07,numeric,NaN,NaN
21,avg_weight_har,44,1447,2500,1053,0.0176,0.5788,0.4212,1.257505e+01,9.345794e+01,9.325947e+00,1.508012e+01,0.050000,6.847753,1.082249e+01,numeric,NaN,NaN
22,total_biocunt,141,2219,2500,281,0.0564,0.8876,0.1124,2.182504e+05,4.000000e+07,1.019387e+06,2.498888e+05,0.000000,45000.000000,1.137043e+05,numeric,NaN,NaN
23,survival_rate,141,2246,2500,254,0.0564,0.8984,0.1016,3.186713e+00,1.300820e+03,4.161614e+01,1.073323e+00,0.000000,0.447757,7.704643e-01,numeric,NaN,NaN
24,generated_date,0,1,2500,2499,0.0000,0.0004,0.9996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df

,cycle_id,species_id,total_seed,area,initial_age,subscription_type,total_seed_type,pond_length,pond_width,pond_depth,cyc_dur,fasting,cons_fast_count,quantity,cons_feed_count,morning_temperature,morning_salinity,morning_pH,last_sampled_weight,avg_growth_rate,selling_price,avg_weight_har,total_biocunt,survival_rate,generated_date
0,18876,1.0,331920,4030.0,0.0,Free,net,65.00,62.00,1.0,107,22.0,8.0,4660.0,107.0,27.848000,24.219512,7.885714,12.03,1.77,9.968670e+07,10.928962,169595.250000,0.510952,2024-09-07 17:02:28.123344
1,22118,1.0,40000,399.0,0.0,Free,net,30.00,20.00,1.0,58,1.0,1.0,361.5,58.0,27.941579,21.892308,8.592895,9.00,0.00,1.296000e+07,9.090909,29700.000000,0.742500,2024-09-07 17:02:28.123344
2,24088,1.0,357570,2000.0,0.0,Free,gross,50.00,40.00,1.4,78,2.0,1.0,4806.5,77.0,28.843957,30.181532,7.749170,17.07,2.59,1.644398e+08,11.077264,264478.667500,0.739656,2024-09-07 17:02:28.123344
3,17743,1.0,168275,1512.0,0.0,Free,actual,54.00,28.00,1.5,72,0.0,0.0,2328.0,71.0,27.250909,23.849315,7.788767,13.45,4.02,0.000000e+00,11.641444,128552.786000,0.763945,2024-09-07 17:02:28.123344
4,17125,1.0,188000,1225.0,0.0,Free,net,35.00,35.00,1.2,75,3.0,2.0,1971.1,74.0,27.715336,14.010556,7.923788,6.90,1.00,1.492800e+07,9.389671,27903.000000,0.148420,2024-09-07 17:02:28.123344
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,19131,2.0,300000,4999.9,0.0,Free,actual,70.71,70.71,1.5,88,0.0,0.0,7003.0,89.0,28.609138,36.200000,7.668314,22.44,0.00,0.000000e+00,54.347826,95312.000000,0.317707,2024-09-07 17:02:28.123344
2496,27552,1.0,100000,900.0,0.0,Free,net,45.00,20.00,1.5,100,14.0,7.0,1340.5,87.0,29.144635,24.300769,7.317885,10.92,0.33,4.037140e+07,9.868421,83510.826667,0.835108,2024-09-07 17:02:28.123344
2497,27885,1.0,30716,86.0,0.0,Free,gross,10.71,8.03,1.0,89,3.0,1.0,470.0,78.0,28.704391,5.713902,7.940149,8.20,1.54,0.000000e+00,6.144393,31199.175000,1.015730,2024-09-07 17:02:28.123344
2498,15868,1.0,150000,1600.0,0.0,Free,gross,45.00,35.00,2.0,54,2.0,1.0,663.0,54.0,28.628733,16.994333,7.657651,5.30,0.00,2.561098e+07,5.172414,131217.266667,0.874782,2024-09-07 17:02:28.123344
2499,20849,1.0,384000,2915.0,0.0,Free,actual,55.00,53.00,1.7,57,2.0,2.0,2659.0,58.0,26.000000,16.083333,7.766667,7.46,2.88,1.333192e+08,8.042895,329504.470000,0.858085,2024-09-07 17:02:28.123344

In [21]:
check_health(df[df.survival_rate.notnull()])

,col_name,null_count,unique_count,row_count,dupe_count,null_pct,unique_pct,dupe_pct,mean,std,min,max,25_pct,50_pct,75_pct,col_types,mode,freq
0,cycle_id,0,2359,2359,0,0.000000,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,20849,1
1,species_id,0,2,2359,2357,0.000000,0.000848,0.999152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,1.0,2226
2,total_seed,0,824,2359,1535,0.000000,0.349301,0.650699,2.160757e+05,1.800000e+06,1.706124e+05,3.000000e+05,10.000000,90000.000000,1.834640e+05,numeric,NaN,NaN
3,area,0,616,2359,1743,0.000000,0.261128,0.738872,2.270323e+03,4.225000e+05,1.272888e+04,2.303920e+03,1.020000,803.840000,1.380000e+03,numeric,NaN,NaN
4,initial_age,0,36,2359,2323,0.000000,0.015261,0.984739,6.324714e-01,7.500000e+01,4.704696e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,numeric,NaN,NaN
5,subscription_type,0,2,2359,2357,0.000000,0.000848,0.999152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,Free,2194
6,total_seed_type,0,3,2359,2356,0.000000,0.001272,0.998728,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,net,1182
7,pond_length,0,333,2359,2026,0.000000,0.141162,0.858838,4.357334e+01,6.500000e+02,2.657058e+01,5.183000e+01,3.000000,30.000000,4.013000e+01,numeric,NaN,NaN
8,pond_width,0,376,2359,1983,0.000000,0.159390,0.840610,3.554569e+01,6.500000e+02,2.319543e+01,4.330000e+01,1.500000,26.000000,3.400000e+01,numeric,NaN,NaN
9,pond_depth,0,37,2359,2322,0.000000,0.015685,0.984315,4.367393e+00,3.000000e+02,2.020935e+01,1.500000e+00,0.600000,1.000000,1.250000e+00,numeric,NaN,NaN
10,cyc_dur,0,164,2359,2195,0.000000,0.069521,0.930479,8.030267e+01,3.480000e+02,2.866874e+01,9.900000e+01,5.000000,61.000000,7.900000e+01,numeric,NaN,NaN
11,fasting,0,58,2359,2301,0.000000,0.024587,0.975413,4.034337e+00,1.080000e+02,8.064052e+00,4.000000e+00,0.000000,0.000000,1.000000e+00,numeric,NaN,NaN
12,cons_fast_count,0,50,2359,2309,0.000000,0.021195,0.978805,2.962696e+00,1.080000e+02,7.093843e+00,2.000000e+00,0.000000,0.000000,1.000000e+00,numeric,NaN,NaN
13,quantity,0,2253,2359,106,0.000000,0.955066,0.044934,5.027318e+03,2.195255e+05,1.813595e+04,5.425413e+03,0.000000,589.700000,2.003500e+03,numeric,NaN,NaN
14,cons_feed_count,0,171,2359,2188,0.000000,0.072488,0.927512,7.705256e+01,1.940000e+02,2.927201e+01,9.600000e+01,1.000000,58.000000,7.700000e+01,numeric,NaN,NaN
15,morning_temperature,0,1645,2359,714,0.000000,0.697329,0.302671,2.844183e+01,5.433054e+02,1.154027e+01,2.871399e+01,7.900000,27.690756,2.825465e+01,numeric,NaN,NaN
16,morning_salinity,0,1706,2359,653,0.000000,0.723188,0.276812,2.293692e+01,1.923000e+02,8.756134e+00,2.683615e+01,1.973652,19.141751,2.275498e+01,numeric,NaN,NaN
17,morning_pH,0,1892,2359,467,0.000000,0.802035,0.197965,8.209716e+00,4.440000e+02,9.452140e+00,8.067671e+00,6.600000,7.777216,7.912641e+00,numeric,NaN,NaN
18,last_sampled_weight,149,1125,2359,1234,0.063162,0.476897,0.523103,1.388994e+01,1.000000e+02,8.435542e+00,1.922750e+01,0.010000,7.500000,1.195000e+01,numeric,NaN,NaN
19,avg_growth_rate,0,1127,2359,1232,0.000000,0.477745,0.522255,2.082207e+00,7.500000e+01,3.260204e+00,2.845000e+00,-25.500000,0.440000,1.580000e+00,numeric,NaN,NaN
20,selling_price,0,1680,2359,679,0.000000,0.712166,0.287834,8.177924e+07,1.125000e+10,2.811048e+08,8.707827e+07,0.000000,0.000000,1.358950e+07,numeric,NaN,NaN
21,avg_weight_har,0,1380,2359,979,0.000000,0.584994,0.415006,1.286337e+01,9.345794e+01,9.375513e+00,1.530768e+01,0.050000,7.237646,1.111111e+01,numeric,NaN,NaN
22,total_biocunt,0,2219,2359,140,0.000000,0.940653,0.059347,2.182504e+05,4.000000e+07,1.019387e+06,2.498888e+05,0.000000,45000.000000,1.137043e+05,numeric,NaN,NaN
23,survival_rate,0,2246,2359,113,0.000000,0.952098,0.047902,3.186713e+00,1.300820e+03,4.161614e+01,1.073323e+00,0.000000,0.447757,7.704643e-01,numeric,NaN,NaN
24,generated_date,0,1,2359,2358,0.000000,0.000424,0.999576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN