In [1]:
import pandas as pd
import numpy as np
import sys
sys.path.append('../.')
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')
from vali_tools.valitools import check_health
from transform import cycle,fasting,feed,measurement,pond_farm,sampling_harvest

In [2]:
sampling = pd.read_csv('Source\Data\samplings.csv')

In [2]:
cyc = cycle.trans_cycle()
fas = fasting.trans_fast()
fee = feed.trans_feed()
mea = measurement.trans_meas()
pon = pond_farm.trans_pond()
sam = sampling_harvest.trans_samhar()

features = cyc.merge(fas, how='left', on='cycle_id') \
    .merge(fee, how='left', on='cycle_id') \
    .merge(pon, how='left', on='pond_id') \
    .merge(mea, how='left', on='cycle_id') \
    .merge(sam, how='left', on='cycle_id')

features["total_biocunt"] = features["size"] * features["weight"]
features["survival_rate"] = features["total_biocunt"] / features["total_seed"]
# fill na avg_growth_rate with features['size']/features['cyc_dur']
features["avg_growth_rate"] = features["avg_growth_rate"].fillna(features['size']/features['cyc_dur'])

In [3]:
features

,cycle_id,pond_id,species_id,total_seed,started_at,finished_at,created_at,updated_at,area,initial_age,limit_weight_per_area,target_cultivation_day,target_size,extracted_at,subscription_type,ordered_at,total_seed_type,pond_length,pond_width,pond_depth,cyc_dur,fasting,cons_fast_count,quantity,cons_feed_count,length,width,deep,max_seed_density,province,regency,timezone,h_tz,mnt_tz,morning_temperature,morning_salinity,morning_pH,sampled_at,last_sampled_weight,avg_growth_rate,weight,size,selling_price,avg_weight_har
0,18876,36294,1.0,331920,2022-10-14,2023-01-29,2022-10-14 12:34:23,2023-01-30 01:46:27,4030.0,0.0,2.00,110.0,35.0,2024-04-12 17:02:22,Free,NaT,net,65.00,62.00,1.0,107,22.0,8.0,4660.0,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.848000,24.219512,7.885714,2023-01-28,12.03,1.77,1853.50,91.500000,9.968670e+07,10.928962
1,22118,37102,1.0,40000,2023-04-26,2023-06-23,2023-04-30 22:28:13,2023-06-26 05:35:32,399.0,0.0,1.25,120.0,100.0,2024-04-12 17:02:22,Free,NaT,net,30.00,20.00,1.0,58,1.0,1.0,361.5,58.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.941579,21.892308,8.592895,2023-06-23,9.00,0.00,270.00,110.000000,1.296000e+07,9.090909
2,24088,39154,NaN,357570,2023-08-01,2023-10-18,2023-07-12 01:13:05,2023-10-19 04:23:11,2000.0,0.0,1.25,120.0,20.0,2024-04-12 17:02:22,Free,2023-07-12 01:13:05,gross,50.00,40.00,1.4,78,2.0,1.0,4806.5,77.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.843957,30.181532,7.749170,2023-10-17,17.07,2.59,2929.70,90.275000,1.644398e+08,11.077264
3,17743,20914,1.0,168275,2022-07-19,2022-09-29,2022-08-14 04:40:46,2022-10-06 00:09:36,1512.0,0.0,1.25,100.0,55.0,2024-04-12 17:02:22,Free,NaT,actual,54.00,28.00,1.5,72,NaN,NaN,2328.0,71.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.250909,23.849315,7.788767,2022-09-26,13.45,4.02,1496.54,85.900000,0.000000e+00,11.641444
4,17125,34187,1.0,188000,2022-07-07,2022-09-20,2022-07-12 00:24:30,2022-10-15 04:27:24,1225.0,0.0,1.25,100.0,55.0,2024-04-12 17:02:22,Free,2022-07-12 00:24:30,net,35.00,35.00,1.2,75,3.0,2.0,1971.1,74.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.715336,14.010556,7.923788,2022-09-06,6.90,1.00,262.00,106.500000,1.492800e+07,9.389671
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,19131,34712,2.0,300000,2022-10-25,2023-01-21,2022-10-25 10:13:31,2023-01-25 08:01:19,4999.9,0.0,1.25,88.0,55.0,2024-04-12 17:02:22,Free,NaT,actual,70.71,70.71,1.5,88,NaN,NaN,7003.0,89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.609138,36.200000,7.668314,2023-01-18,22.44,0.00,5180.00,18.400000,0.000000e+00,54.347826
2496,27552,45697,1.0,100000,2023-11-05,2024-02-13,2023-11-18 03:43:40,2024-03-27 02:52:36,900.0,0.0,1.25,120.0,55.0,2024-04-12 17:02:22,Free,2023-11-18 03:43:40,net,45.00,20.00,1.5,100,14.0,7.0,1340.5,87.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.144635,24.300769,7.317885,2024-02-12,10.92,0.33,824.12,101.333333,4.037140e+07,9.868421
2497,27885,24570,1.0,30716,2023-12-02,2024-02-29,2023-12-03 03:06:01,2024-03-03 03:03:26,86.0,0.0,1.25,120.0,20.0,2024-04-12 17:02:22,Free,NaT,gross,10.71,8.03,1.0,89,3.0,1.0,470.0,78.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.704391,5.713902,7.940149,2024-01-25,8.20,1.54,191.70,162.750000,0.000000e+00,6.144393
2498,15868,32398,1.0,150000,2022-04-28,2022-06-21,2022-05-08 16:02:51,2022-08-23 03:12:20,1600.0,0.0,1.25,100.0,55.0,2024-04-12 17:02:22,Free,2022-05-08 16:02:51,gross,45.00,35.00,2.0,54,2.0,1.0,663.0,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.628733,16.994333,7.657651,2022-06-21,5.30,0.00,678.71,193.333333,2.561098e+07,5.172414
2499,20849,35913,1.0,384000,2023-02-09,2023-04-07,2023-02-14 00:23:40,2023-04-14 00:04:22,2915.0,0.0,1.25,100.0,40.0,2024-04-12 17:02:22,Free,NaT,actual,55.00,53.00,1.7,57,2.0,2.0,2659.0,58.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.000000,16.083333,7.766667,2023-03-31,7.46,2.88,2650.17,124.333333,1.333192e+08,8.042895

In [47]:
check_health(features)

,col_name,null_count,unique_count,row_count,dupe_count,null_pct,unique_pct,dupe_pct,mean,std,min,max,25_pct,50_pct,75_pct,col_types,mode,freq
0,cycle_id,0,2500,2500,0,0.0000,1.0000,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,20849,1
1,pond_id,0,1675,2500,825,0.0000,0.6700,0.3300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,24569,8
2,species_id,790,2,2500,2498,0.3160,0.0008,0.9992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,1.0,1576
3,total_seed,0,868,2500,1632,0.0000,0.3472,0.6528,217154.5784,170662.188169,10.0,1800000.0,90000.0,184722.0,300000.0,numeric,NaN,NaN
4,started_at,0,750,2500,1750,0.0000,0.3000,0.7000,2022-10-27 02:43:00.479999744,NaN,2020-03-07 00:00:00,2024-02-18 00:00:00,2022-05-08 00:00:00,2022-11-16 00:00:00,2023-08-05 00:00:00,numeric,NaN,NaN
5,finished_at,0,858,2500,1642,0.0000,0.3432,0.6568,2023-01-13 23:25:47.783636480,NaN,2020-05-20 00:00:00,2024-09-07 14:50:59.091038,2022-07-16 18:00:00,2023-02-10 00:00:00,2023-10-26 00:00:00,numeric,NaN,NaN
6,remark,1172,67,2500,2433,0.4688,0.0268,0.9732,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,#SiklusFarm,269
7,created_at,0,2325,2500,175,0.0000,0.9300,0.0700,2022-11-10 21:50:26.408800,NaN,2020-02-19 08:44:53,2024-03-05 13:10:13,2022-05-17 04:53:08,2022-12-02 04:03:08,2023-08-10 03:05:55.750000128,numeric,NaN,NaN
8,updated_at,0,2289,2500,211,0.0000,0.9156,0.0844,2023-03-08 00:19:24.160000,NaN,2020-06-03 02:44:52,2024-04-09 00:06:26,2022-08-25 12:30:48.500000,2023-06-05 00:03:12,2023-11-20 07:32:10,numeric,NaN,NaN
9,area,0,648,2500,1852,0.0000,0.2592,0.7408,2233.092964,12372.846032,1.02,422500.0,803.84,1368.0,2238.6825,numeric,NaN,NaN
10,initial_age,47,38,2500,2462,0.0188,0.0152,0.9848,0.723196,4.803693,0.0,75.0,0.0,0.0,0.0,numeric,NaN,NaN
11,limit_weight_per_area,7,25,2500,2475,0.0028,0.0100,0.9900,1.572611,6.79449,0.6,270.0,1.25,1.25,1.25,numeric,NaN,NaN
12,target_cultivation_day,3,121,2500,2379,0.0012,0.0484,0.9516,111.604726,22.02296,0.0,348.0,100.0,120.0,120.0,numeric,NaN,NaN
13,target_size,4,31,2500,2469,0.0016,0.0124,0.9876,52.744391,23.266315,0.0,1000.0,45.0,55.0,55.0,numeric,NaN,NaN
14,extracted_at,0,18,2500,2482,0.0000,0.0072,0.9928,2024-04-09 06:46:02.839600128,NaN,2022-04-29 17:02:10,2024-04-12 17:02:22,2024-04-12 17:02:22,2024-04-12 17:02:22,2024-04-12 17:02:22,numeric,NaN,NaN
15,subscription_type,0,2,2500,2498,0.0000,0.0008,0.9992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,Free,2303
16,ordered_at,1423,855,2500,1645,0.5692,0.3420,0.6580,2022-09-26 13:15:46.303621120,NaN,2020-02-19 08:44:53,2024-03-05 13:10:13,2022-01-27 03:39:43,2022-10-04 08:28:14,2023-08-30 04:51:26,numeric,NaN,NaN
17,hatchery_id,445,80,2500,2420,0.1780,0.0320,0.9680,395.012652,467.835162,1.0,1077.0,35.0,83.0,1004.0,numeric,NaN,NaN
18,total_seed_type,242,3,2500,2497,0.0968,0.0012,0.9988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,net,996
19,hatchery_name,445,79,2500,2421,0.1780,0.0316,0.9684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,CV Raja Benur,303
20,pond_name,0,641,2500,1859,0.0000,0.2564,0.7436,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,A1,307
21,pond_length,6,339,2500,2161,0.0024,0.1356,0.8644,43.480714,26.284228,3.0,650.0,30.0,40.0,51.64,numeric,NaN,NaN
22,pond_width,6,384,2500,2116,0.0024,0.1536,0.8464,35.444254,22.760681,1.5,650.0,26.0,34.0,43.02,numeric,NaN,NaN
23,pond_depth,118,37,2500,2463,0.0472,0.0148,0.9852,4.345688,20.11382,0.6,300.0,1.0,1.25,1.5,numeric,NaN,NaN
24,cyc_dur,0,167,2500,2333,0.0000,0.0668,0.9332,78.8628,31.146146,5.0,619.0,58.0,78.0,98.0,numeric,NaN,NaN
25,fasting,1006,58,2500,2442,0.4024,0.0232,0.9768,6.700803,9.5,1.0,108.0,1.0,3.0,8.0,numeric,NaN,NaN
26,cons_fast_count,1006,50,2500,2450,0.4024,0.0200,0.9800,4.961178,8.630999,1.0,108.0,1.0,2.0,5.0,numeric,NaN,NaN
27,quantity,0,2378,2500,122,0.0000,0.9512,0.0488,4825.05955,17643.882068,0.0,219525.5,550.3,1873.825,5200.125,numeric,NaN,NaN
28,cons_feed_count,0,171,2500,2329,0.0000,0.0684,0.9316,75.2404,29.772504,1.0,194.0,55.0,74.0,95.0,numeric,NaN,NaN
29,length,2449,17,2500,2483,0.9796,0.0068,0.9932,40.88902,7.675185,24.0,50.0,36.2,40.0,48.5,numeric,NaN,NaN
30,width,2449,21,2500,2479,0.9796,0.0084,0.9916,33.310588,5.551586,21.0,46.4,29.0,32.6,36.85,numeric,NaN,NaN
31,deep,2449,4,2500,2496,0.9796,0.0016,0.9984,1.17451,0.163515,0.9,1.6,1.1,1.1,1.3,numeric,NaN,NaN
32,max_seed_density,2449,27,2500,2473,0.9796,0.0108,0.9892,164.3007,64.110876,115.526802,432.525952,125.993364,131.926121,192.110972,numeric,NaN,NaN
33,province,2477,3,2500,2497,0.9908,0.0012,0.9988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,SULAWESI BARAT,13
34,regency,2479,2,2500,2498,0.9916,0.0008,0.9992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,MAMUJU UTARA,13
35,timezone,2477,2,2500,2498,0.9908,0.0008,0.9992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,+08:00,13
36,h_tz,2477,2,2500,2498,0.9908,0.0008,0.9992,7.565217,0.50687,7.0,8.0,7.0,8.0,8.0,numeric,NaN,NaN
37,mnt_tz,2477,1,2500,2499,0.9908,0.0004,0.9996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,numeric,NaN,NaN
38,morning_temperature,662,1724,2500,776,0.2648,0.6896,0.3104,28.509325,13.077812,7.9,543.305396,27.406165,28.254646,29.027496,numeric,NaN,NaN
39,morning_salinity,560,1800,2500,700,0.2240,0.7200,0.2800,22.817543,11.177004,1.973652,242.646015,16.812613,22.754981,28.983696,numeric,NaN,NaN
40,morning_pH,413,2003,2500,497,0.1652,0.8012,0.1988,8.251258,10.049119,6.6,444.0,7.747011,7.912641,8.108818,numeric,NaN,NaN
41,sampled_at,193,732,2500,1768,0.0772,0.2928,0.7072,2023-01-29 23:06:19.193757952,NaN,2020-06-02 00:00:00,2024-04-10 00:00:00,2022-07-20 00:00:00,2023-03-13 00:00:00,2023-10-30 00:00:00,numeric,NaN,NaN
42,last_sampled_weight,193,1152,2500,1348,0.0772,0.4608,0.5392,13.539835,8.45674,0.01,100.0,7.085,11.5,18.89,numeric,NaN,NaN
43,avg_growth_rate,44,1137,2500,1363,0.0176,0.4548,0.5452,2.027486,3.213642,-25.5,75.0,0.3,1.505,2.8,numeric,NaN,NaN
44,weight,141,1963,2500,537,0.0564,0.7852,0.2148,2600.370954,7967.011839,0.0,250000.0,376.6,1322.0,3448.05,numeric,NaN,NaN
45,size,141,1380,2500,1120,0.0564,0.5520,0.4480,135.15996,595.406901,10.7,20000.0,65.326667,90.0,138.166667,numeric,NaN,NaN
46,selling_price,141,1680,2500,820,0.0564,0.6720,0.3280,81779241.973772,281104825.786504,0.0,11250000000.0,0.0,13589499.016,87078267.15,numeric,NaN,NaN
47,avg_weight_har,44,1447,2500,1053,0.0176,0.5788,0.4212,12.57505,9.325947,0.05,93.457944,6.847753,10.822488,15.080118,numeric,NaN,NaN
48,total_biocunt,141,2219,2500,281,0.0564,0.8876,0.1124,218250.391563,1019387.130183,0.0,40000000.0,45000.0,113704.3,249888.770135,numeric,NaN,NaN
49,survival_rate,141,2246,2500,254,0.0564,0.8984,0.1016,3.186713,41.616138,0.0,1300.82,0.447757,0.770464,1.073323,numeric,NaN,NaN

In [45]:
features[['cycle_id','pond_id','survival_rate','avg_growth_rate']]

     cycle_id pond_id  survival_rate  avg_growth_rate
0       18876   36294       0.510952             1.77
1       22118   37102       0.742500             0.00
2       24088   39154       0.739656             2.59
3       17743   20914       0.763945             4.02
4       17125   34187       0.148420             1.00
...       ...     ...            ...              ...
2495    19131   34712       0.317707             0.00
2496    27552   45697       0.835108             0.33
2497    27885   24570       1.015730             1.54
2498    15868   32398       0.874782             0.00
2499    20849   35913       0.858085             2.88

[2500 rows x 4 columns]

In [43]:
features[features['avg_growth_rate'].isnull()].shape

(44, 50)