In [11]:
import pandas as pd
import numpy as np
from vali_tools.valitools import check_health
pd.set_option('display.max_column',None)
import datetime
import matplotlib.pyplot as plt

In [20]:
cyc = pd.read_csv(r"Source\Data\cycles.csv")
far = pd.read_csv(r"Source\Data\farms.csv")
fas = pd.read_csv(r"Source\Data\fasting.csv")
fas_s = pd.read_csv(r"Source\Data\fastings.csv")
fet = pd.read_csv(r"Source\Data\feed_tray.csv")
fee = pd.read_csv(r"Source\Data\feeds.csv")
har = pd.read_csv(r"Source\Data\harvests.csv")
mea = pd.read_csv(r"Source\Data\measurements.csv")
mor = pd.read_csv(r"Source\Data\mortalities.csv")
pon = pd.read_csv(r"Source\Data\ponds.csv")
sam = pd.read_csv(r"Source\Data\samplings.csv")

## Note Cycle
- id should be unique
- duplicated: 117
- there are duplicate on id
- features: area, initial_age,species_id,subscription_type,cyc_dur,total_seed

In [25]:
# cyc transform
cyc.id = cyc.id.astype(str) 
cyc.pond_id = cyc.pond_id.astype(str) 
cyc.species_id = cyc.species_id.astype(str)
#drop dupe assume cycle is unique
cyc = cyc.drop_duplicates(subset='id')

cyc.started_at = pd.to_datetime(cyc.started_at)
cyc.finished_at = pd.to_datetime(cyc.finished_at)
cyc.created_at = pd.to_datetime(cyc.created_at)
cyc.updated_at = pd.to_datetime(cyc.updated_at)
cyc.extracted_at = pd.to_datetime(cyc.extracted_at)
cyc.ordered_at = pd.to_datetime(cyc.ordered_at)
cyc.finished_at.fillna(datetime.datetime.now(),inplace=True)

cyc.species_id = cyc.species_id.replace('nan',np.nan)

cyc['cyc_dur'] = cyc.finished_at - cyc.started_at
cyc['cyc_dur'] = cyc['cyc_dur'].astype(str)
cyc['cyc_dur'] = cyc['cyc_dur'].str.split(' ').str[0]
cyc['cyc_dur'] = cyc['cyc_dur'].astype(int)
cyc.rename(columns={'id':'cycle_id'},inplace=True)

C:\Users\kevin\AppData\Local\Temp\ipykernel_35448\3497759362.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cyc.started_at = pd.to_datetime(cyc.started_at)
C:\Users\kevin\AppData\Local\Temp\ipykernel_35448\3497759362.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cyc.finished_at = pd.to_datetime(cyc.finished_at)
C:\Users\kevin\AppData\Local\Temp\ipykernel_35448\3497759362.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cyc.created_at = pd.to_datetime(cyc.created_at)
C:\Users\kevin\AppData\Local\Temp\ipykernel_35448\3497759362.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cyc.updated_at = pd.to_datetime(cyc.updated_at)
C:\Users\kevin\AppData\Local\Temp\ipykernel_35448\3497759362.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cyc.extracted_at = pd.to_datetime(cyc.extracted_at)
C:\Users\kevin\AppData\Local\Temp\ipykernel_35448\3497759362.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cyc.ordered_at = pd.to_datetime(cyc.ordered_at)
C:\Users\kevin\AppData\Local\Temp\ipykernel_35448\3497759362.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cyc.finished_at.fillna(datetime.datetime.now(),inplace=True)
C:\Users\kevin\AppData\Local\Temp\ipykernel_35448\3497759362.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cyc.finished_at.fillna(datetime.datetime.now(),inplace=True)
C:\Users\kevin\AppData\Local\Temp\ipykernel_35448\3497759362.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cyc.species_id = cyc.species_id.replace('nan',np.nan)
C:\Users\kevin\AppData\Local\Temp\ipykernel_35448\3497759362.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cyc['cyc_dur'] = cyc.finished_at - cyc.started_at
C:\Users\kevin\AppData\Local\Temp\ipykernel_35448\3497759362.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cyc['cyc_dur'] = cyc['cyc_dur'].astype(str)
C:\Users\kevin\AppData\Local\Temp\ipykernel_35448\3497759362.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cyc['cyc_dur'] = cyc['cyc_dur'].str.split(' ').str[0]
C:\Users\kevin\AppData\Local\Temp\ipykernel_35448\3497759362.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cyc['cyc_dur'] = cyc['cyc_dur'].astype(int)
C:\Users\kevin\AppData\Local\Temp\ipykernel_35448\3497759362.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cyc.rename(columns={'id':'cycle_id'},inplace=True)

In [32]:
check_health(cyc[['cycle_id','area','initial_age','species_id','subscription_type','cyc_dur','total_seed']])

,col_name,null_count,unique_count,row_count,dupe_count,null_pct,unique_pct,dupe_pct,mean,std,min,max,25_pct,50_pct,75_pct,col_types,mode,freq
0,cycle_id,0,2500,2500,0,0.0000,1.0000,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,20849,1
1,area,0,648,2500,1852,0.0000,0.2592,0.7408,2233.092964,422500.0,12372.846032,2238.6825,1.02,803.84,1368.0,numeric,NaN,NaN
2,initial_age,47,38,2500,2462,0.0188,0.0152,0.9848,0.723196,75.0,4.803693,0.0000,0.00,0.00,0.0,numeric,NaN,NaN
3,species_id,790,2,2500,2498,0.3160,0.0008,0.9992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,1.0,1576
4,subscription_type,0,2,2500,2498,0.0000,0.0008,0.9992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,Free,2303
5,cyc_dur,0,167,2500,2333,0.0000,0.0668,0.9332,78.862400,618.0,31.139212,98.0000,5.00,58.00,78.0,numeric,NaN,NaN
6,total_seed,0,868,2500,1632,0.0000,0.3472,0.6528,217154.578400,1800000.0,170662.188169,300000.0000,10.00,90000.00,184722.0,numeric,NaN,NaN

## Note fasting
- features: fasting, cons_fast_count, fasting-to-cycle duration

In [34]:
check_health(fast)

,col_name,null_count,unique_count,row_count,dupe_count,null_pct,unique_pct,dupe_pct,mean,std,min,max,25_pct,50_pct,75_pct,col_types,mode,freq
0,logged_date,0,1154,38568,37414,0.000000,0.029921,0.970079,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,2022-09-25,181
1,cycle_id,0,1797,38568,36771,0.000000,0.046593,0.953407,19793.699751,29659.0,4454.151102,23127.0,4036.0,17112.0,18751.0,numeric,NaN,NaN
2,fasting,57,2,38568,38566,0.001478,0.000052,0.999948,0.264781,1.0,0.441223,1.0,0.0,0.0,0.0,numeric,NaN,NaN

In [39]:
#fasting transform
fast = pd.concat([fas,fas_s])
fast.logged_date = pd.to_datetime(fast.logged_date)
fast.cycle_id = fast.cycle_id.astype(str)
fast.fasting = fast.fasting.astype(str)
fast.cycle_id = fast.cycle_id.str.split('.').str[0]
fast.fasting = fast.fasting.str.split('.').str[0]
fast = fast.drop_duplicates(subset=['logged_date','cycle_id','fasting'])
fast.fasting.replace('nan','0',inplace=True)
fast.fasting = fast.fasting.astype(int)
fast = fast[fast.fasting ==1].sort_values(['cycle_id','logged_date'])
#feature count of fasting for fast to cycle end ratio
fast_agg = fast.groupby(['cycle_id'],as_index=False).fasting.sum()

fast_test = fast.copy()
for i in fast_test.cycle_id.unique():
    fast_test.loc[fast_test.cycle_id == i,'cons_fast_count'] =  (fast_test[fast_test.cycle_id == i]['logged_date'].diff().dt.days == 1).sum()

#feature: count of consecutive day
fast_test = fast_test.drop_duplicates('cycle_id')
fast_test = fast_test[['cycle_id','cons_fast_count']]
fasting = fast_agg.merge(fast_test,on='cycle_id',how='left')

C:\Users\kevin\AppData\Local\Temp\ipykernel_35448\489578468.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  fast.fasting.replace('nan','0',inplace=True)

In [46]:
check_health(fasting)

,col_name,null_count,unique_count,row_count,dupe_count,null_pct,unique_pct,dupe_pct,mean,std,min,max,25_pct,50_pct,75_pct,col_types,mode,freq
0,cycle_id,0,1496,1496,0,0.0,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,9998,1
1,fasting,0,58,1496,1438,0.0,0.038770,0.961230,6.693850,108.0,9.495564,8.0,1.0,1.0,3.0,numeric,NaN,NaN
2,cons_fast_count,0,50,1496,1446,0.0,0.033422,0.966578,3.955882,107.0,8.626439,4.0,0.0,0.0,1.0,numeric,NaN,NaN

## Note Feed
- features: feed quantity,cons_feed_count

In [48]:
#feed transform
fee.cycle_id = fee.cycle_id.astype(str)
fee.logged_at = fee.logged_at.fillna(method='ffill')
fee.logged_at = fee.logged_at.str.split('.').str[0]
fee.logged_at = pd.to_datetime(fee.logged_at,format="%Y-%m-%d %H:%M:%S")

fee.sort_values(['cycle_id','logged_at'],inplace=True)
fee['log_date'] = fee.logged_at.dt.date
fee['log_date'] = pd.to_datetime(fee['log_date'])

#feature feed qty
feed_qty = fee.groupby(['cycle_id'],as_index=False).quantity.sum()

fee_test = fee.groupby(['cycle_id','log_date'],as_index=False)['quantity'].sum().copy()
for i in fee_test.cycle_id.unique():
    fee_test.loc[fee_test.cycle_id == i,'cons_feed_count'] =  (fee_test[fee_test.cycle_id == i]['log_date'].diff().dt.days == 1).sum()

#feature: count of consecutive day
fee_test = fee_test.drop_duplicates('cycle_id')
fee_test = fee_test[['cycle_id','cons_feed_count']]

feed = feed_qty.merge(fee_test,how='left',on='cycle_id')

C:\Users\kevin\AppData\Local\Temp\ipykernel_35448\3522420325.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  fee.logged_at = fee.logged_at.fillna(method='ffill')

In [49]:
check_health(feed)

,col_name,null_count,unique_count,row_count,dupe_count,null_pct,unique_pct,dupe_pct,mean,std,min,max,25_pct,50_pct,75_pct,col_types,mode,freq
0,cycle_id,0,2500,2500,0,0.0,1.0000,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,9998,1
1,quantity,0,2378,2500,122,0.0,0.9512,0.0488,4825.05955,219525.5,17643.882068,5200.125,0.0,550.3,1873.825,numeric,NaN,NaN
2,cons_feed_count,0,171,2500,2329,0.0,0.0684,0.9316,74.24040,193.0,29.772504,94.000,0.0,54.0,73.000,numeric,NaN,NaN

In [17]:
mea.sample(5)

,pond_id,cycle_id,measured_date,morning_temperature,evening_temperature,morning_do,evening_do,morning_salinity,evening_salinity,morning_pH,evening_pH,transparency,turbidity,ammonia,nitrate,nitrite,alkalinity,hardness,calcium,magnesium,carbonate,bicarbonate,tom,total_plankton_
47532,39087,21203,2023-04-25,28.65,NaN,2.48,NaN,19.35,NaN,8.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51595,44540,29100,2023-08-21,32.00,NaN,4.60,NaN,36.00,NaN,9.00,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71040,46258,28067,2024-01-05,28.60,29.5,5.30,5.5,28.00,28.0,7.72,7.75,45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136926,40661,25307,2023-09-15,NaN,NaN,NaN,NaN,NaN,NaN,8.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134682,45257,27088,2023-10-18,NaN,NaN,NaN,NaN,36.00,NaN,7.90,8.20,25.0,NaN,NaN,10.0,0.0,176.0,NaN,NaN,NaN,0.0,176.0,83.0,3290000.0

# Note measurement
- feature: 'morning_temperature', 'evening_temperature', 'morning_do',
       'evening_do', 'morning_salinity', 'evening_salinity', 'morning_pH',
       'evening_pH', 'transparency', 'turbidity', 'ammonia', 'nitrate',
       'nitrite', 'alkalinity', 'hardness', 'calcium', 'magnesium',
       'carbonate', 'bicarbonate', 'tom', 'total_plankton_'

In [54]:
mea.cycle_id = mea.cycle_id.astype(str)
mea.pond_id = mea.pond_id.astype(str)
mea['measured_date'] = pd.to_datetime(mea['measured_date'])

mea[['morning_temperature','morning_salinity','morning_pH']].fillna(0,inplace=True)
#treshold for missing value = 33%
mea_agg = mea.groupby('cycle_id',as_index=False).agg({'morning_temperature':'mean','morning_salinity':'mean','morning_pH':'mean'})

C:\Users\kevin\AppData\Local\Temp\ipykernel_35448\827837620.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mea[['morning_temperature','morning_salinity','morning_pH']].fillna(0,inplace=True)

In [56]:
check_health(mea_agg)

,col_name,null_count,unique_count,row_count,dupe_count,null_pct,unique_pct,dupe_pct,mean,std,min,max,25_pct,50_pct,75_pct,col_types,mode,freq
0,cycle_id,0,2500,2500,0,0.0000,1.0000,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,9998,1
1,morning_temperature,662,1724,2500,776,0.2648,0.6896,0.3104,28.509325,543.305396,13.077812,29.027496,7.900000,27.406165,28.254646,numeric,NaN,NaN
2,morning_salinity,560,1800,2500,700,0.2240,0.7200,0.2800,22.817543,242.646015,11.177004,28.983696,1.973652,16.812613,22.754981,numeric,NaN,NaN
3,morning_pH,413,2003,2500,497,0.1652,0.8012,0.1988,8.251258,444.000000,10.049119,8.108818,6.600000,7.747011,7.912641,numeric,NaN,NaN

# Note Pond Farm
- feature: length, width, deep, max_seed_density

In [7]:
#pond + farm Transform
pon.farm_id = pon.farm_id.astype(str)
pon.id = pon.id.astype(str)
pon.rename(columns={'id':'pond_id'},inplace=True)

pon.created_at = pd.to_datetime(pon.created_at)
pon.updated_at = pd.to_datetime(pon.updated_at)
pon.extracted_at = pd.to_datetime(pon.extracted_at)

pon.length = pon.length.astype(float)
pon.width = pon.width.astype(float)
pon.deep = pon.deep.astype(float)
pon.max_seed_density = pon.max_seed_density.astype(float)

far.id = far.id.astype(str)
far['h_tz'] = far.timezone.str.replace('+','').str.split(':').str[0]
far['h_tz'] = far['h_tz'].astype(int)
far['mnt_tz'] = far.timezone.str.replace('+','').str.split(':').str[1]
far['mnt_tz'] = far['mnt_tz'].astype(int)
far.rename(columns={'id':'farm_id'},inplace=True)
#merge pond with farm
pon_far = pon.merge(far,how='left',on='farm_id')
pon_far = pon_far[['pond_id','length','width','deep','max_seed_density','province','regency','timezone','h_tz','mnt_tz']]

In [64]:
check_health(pon)

,col_name,null_count,unique_count,row_count,dupe_count,null_pct,unique_pct,dupe_pct,mean,std,min,max,25_pct,50_pct,75_pct,col_types,mode,freq
0,id,0,338,338,0,0.000000,1.000000,0.000000,36899.159763,47762.00,12968.985879,44702.750000,1.000000,28825.250000,44596.50,numeric,NaN,NaN
1,farm_id,0,70,338,268,0.000000,0.207101,0.792899,10151.973373,13378.00,4008.835331,12562.000000,2.000000,7365.000000,12546.50,numeric,NaN,NaN
2,length,23,69,338,269,0.068047,0.204142,0.795858,46.604698,253.66,37.879973,50.000000,0.600000,30.000000,36.51,numeric,NaN,NaN
3,width,29,76,338,262,0.085799,0.224852,0.775148,29.845825,190.24,18.142403,40.000000,0.450000,20.000000,30.00,numeric,NaN,NaN
4,deep,92,19,338,319,0.272189,0.056213,0.943787,7.133537,150.00,26.681219,1.600000,0.900000,1.000000,1.30,numeric,NaN,NaN
5,created_at,0,142,338,196,0.000000,0.420118,0.579882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,2018-03-07 19:05:09.000,10
6,updated_at,0,177,338,161,0.000000,0.523669,0.476331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,2021-10-04 03:49:38.000,10
7,record_id,0,338,338,0,0.000000,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,ponds_2024_4_12_44982,1
8,extracted_at,0,16,338,322,0.000000,0.047337,0.952663,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,2024-04-12 17:02:11.000,309
9,max_seed_density,203,94,338,244,0.600592,0.278107,0.721893,248.672850,12500.00,1077.046893,185.205992,0.000625,63.783784,120.00,numeric,NaN,NaN

# Note Sampling
feature: average_weight

# Note Harvest
feature: selling_price, avg_weight_har

In [69]:
2307/2500

0.9228

In [65]:
check_health(sam)

,col_name,null_count,unique_count,row_count,dupe_count,null_pct,unique_pct,dupe_pct,mean,std,min,max,25_pct,50_pct,75_pct,col_types,mode,freq
0,cycle_id,0,2307,15032,12725,0.000000,0.153473,0.846527,19982.632052,29874.0,5742.703137,24690.0000,3458.00,16650.50,20401.00,numeric,NaN,NaN
1,updated_at,0,10515,15032,4517,0.000000,0.699508,0.300492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,2021-07-09 23:12:35,45
2,sampled_at,0,1221,15032,13811,0.000000,0.081227,0.918773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,2023-10-04,109
3,created_at,0,10445,15032,4587,0.000000,0.694851,0.305149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,2021-07-09 23:12:35,45
4,average_weight,0,2666,15032,12366,0.000000,0.177355,0.822645,9.900390,100.0,7.187137,13.7725,0.01,4.49,8.13,numeric,NaN,NaN
5,id,0,15016,15032,16,0.000000,0.998936,0.001064,38925.218068,61775.0,13394.422325,49932.2500,5308.00,29964.75,38806.50,numeric,NaN,NaN
6,remark,13693,1150,15032,13882,0.910923,0.076503,0.923497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,#BD-Katalis04,26

In [70]:
#sampling + harvest transform
#manual correction w/ assum on created_at date
sam.loc[sam.sampled_at == '1-01-01','sampled_at'] = '2023-10-12'

sam.updated_at = pd.to_datetime(sam.updated_at,format="%Y-%m-%d %H:%M:%S")
sam.sampled_at = pd.to_datetime(sam.sampled_at,format="%Y-%m-%d")
sam.created_at = pd.to_datetime(sam.created_at,format="%Y-%m-%d %H:%M:%S")

sam.average_weight = sam.average_weight.astype(float)
sam.id = sam.id.astype(str)
sam.cycle_id = sam.cycle_id.astype(str)

sam.cycle_id = sam.cycle_id.str.split('.').str[0]
sam.id = sam.id.str.split('.').str[0]

#get last updated sampling record
sam.sort_values(by=['id','updated_at'],inplace=True)
sam.drop_duplicates(subset='id',keep='last',inplace=True)
#get cycle last sample
sam.sort_values(by=['cycle_id','sampled_at'],inplace=True)
sam.drop_duplicates(subset='cycle_id',keep='last',inplace=True)

har.id = har.id.astype(str)
har.cycle_id = har.cycle_id.astype(str)

har.cycle_id = har.cycle_id.str.split('.').str[0]
har.id = har.id.str.split('.').str[0]

har.updated_at = pd.to_datetime(har.updated_at,format="%Y-%m-%d %H:%M:%S")
har.created_at = pd.to_datetime(har.created_at,format="%Y-%m-%d %H:%M:%S")
har.harvested_at = pd.to_datetime(har.harvested_at,format="%Y-%m-%d")
har.selling_price.fillna(0,inplace=True)

#get non failed harvest
har = har[har.status !='Failed']

#standardize weigth metric
har['avg_weight_har'] = 1000/har['size']

#aggregate partial harvest
har_agg = har.groupby('cycle_id',as_index=False)\
    .agg({'weight':'sum','size':'mean','updated_at':'max','selling_price':'sum'})
#standardize weigth metric
har_agg['avg_weight_har'] = 1000/har_agg['size']

#merge 
sam_har = sam.merge(har_agg,how='outer',on='cycle_id',suffixes=('_sam','_har'))\
    .drop(columns=['created_at','updated_at_sam','updated_at_har','id','remark'])

#analyze correlation of last sampling avg weight with harvest avg weight
#strongly correlated, means the target can only be used interchangeably
# sam_har[sam_har.average_weight.notnull()].average_weight.corr(sam_har[sam_har.average_weight.notnull()].avg_weight_har,method='pearson')
# sam_har.plot.scatter(x='average_weight',y='avg_weight_har')

C:\Users\kevin\AppData\Local\Temp\ipykernel_35448\1262045422.py:32: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  har.selling_price.fillna(0,inplace=True)
C:\Users\kevin\AppData\Local\Temp\ipykernel_35448\1262045422.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  har['avg_weight_har'] = 1000/har['size']

In [71]:
check_health(har)

,col_name,null_count,unique_count,row_count,dupe_count,null_pct,unique_pct,dupe_pct,mean,std,min,max,25_pct,50_pct,75_pct,col_types,mode,freq
0,cycle_id,0,2359,7919,5560,0.000000,0.297891,0.702109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,28500,58
1,updated_at,0,5758,7919,2161,0.000000,0.727112,0.272888,2023-03-08 07:38:09.725975552,NaN,2020-05-22 03:19:32,2024-04-12 00:49:36,2022-10-06 05:24:11,2023-03-11 15:31:38,2023-11-12 15:25:14,numeric,NaN,NaN
2,size,0,1457,7919,6462,0.000000,0.183988,0.816012,109.107701,339.238823,10.0,20000.0,59.58,85.0,123.0,numeric,NaN,NaN
3,created_at,0,6942,7919,977,0.000000,0.876626,0.123374,2023-02-12 16:16:55.844045824,NaN,2020-05-13 03:55:01,2024-04-06 15:06:03,2022-08-16 10:11:05,2023-03-03 15:44:45,2023-10-31 04:15:33,numeric,NaN,NaN
4,weight,0,5052,7919,2867,0.000000,0.637959,0.362041,774.627488,4308.494422,0.0,250000.0,48.6,250.0,661.22,numeric,NaN,NaN
5,id,0,7909,7919,10,0.000000,0.998737,0.001263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,13875,3
6,harvested_at,0,1058,7919,6861,0.000000,0.133603,0.866397,2023-01-28 15:30:07.046344448,NaN,2008-05-08 00:00:00,2024-04-02 00:00:00,2022-08-09 00:00:00,2023-02-17 00:00:00,2023-10-24 00:00:00,numeric,NaN,NaN
7,status,263,12,7919,7907,0.033211,0.001515,0.998485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,Partial,4192
8,selling_price,0,4887,7919,3032,0.000000,0.617123,0.382877,24361312.263686,146817954.057197,0.0,11250000000.0,0.0,1337000.0,17991300.0,numeric,NaN,NaN
9,avg_weight_har,0,1457,7919,6462,0.000000,0.183988,0.816012,13.397321,8.064789,0.05,100.0,8.130081,11.764706,16.784156,numeric,NaN,NaN

In [26]:
#merge to cycle
features = cyc.merge(fast_agg,how='left',on='cycle_id')\
    .merge(fast_test,how='left',on='cycle_id')\
        .merge(feed,how='left',on='cycle_id')\
            .merge(pon_far,how='left',on='pond_id')\
                .merge(mea_agg,how='left',on='cycle_id')\
                    .merge(sam_har,how='left',on='cycle_id')

In [27]:
#create scikit learn pipeline
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

,cycle_id,pond_id,species_id,total_seed,started_at,finished_at,remark,created_at,updated_at,area,initial_age,limit_weight_per_area,target_cultivation_day,target_size,extracted_at,subscription_type,ordered_at,hatchery_id,total_seed_type,hatchery_name,pond_name,pond_length,pond_width,pond_depth,cyc_dur,fasting,cons_fast_count,quantity,cons_feed_count,length,width,deep,max_seed_density,province,regency,timezone,h_tz,mnt_tz,morning_temperature,evening_temperature,morning_do,morning_salinity,evening_salinity,morning_pH,evening_pH,transparency,turbidity,ammonia,nitrate,nitrite,alkalinity,hardness,calcium,magnesium,carbonate,bicarbonate,tom,total_plankton_,weight,size,selling_price,avg_weight_har,sampled_at,average_weight
0,18876,36294,1.0,331920,2022-10-14,2023-01-29,NaN,2022-10-14 12:34:23,2023-01-30 01:46:27,4030.0,0.0,2.00,110.0,35.0,2024-04-12 17:02:22,Free,NaT,66.0,net,UD. Benur Ndaru Laut,H,65.00,62.00,1.0,107,22.0,7.0,4660.0,106.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.519626,22.496573,3.722430,9.280374,0.869159,7.222430,1.755140,45.327103,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1853.50,91.500000,9.968670e+07,10.928962,2023-01-28,12.03
1,22118,37102,1.0,40000,2023-04-26,2023-06-23,#TBR01,2023-04-30 22:28:13,2023-06-26 05:35:32,399.0,0.0,1.25,120.0,100.0,2024-04-12 17:02:22,Free,NaT,83.0,net,CV Raja Benur,A1,30.00,20.00,1.0,58,1.0,0.0,361.5,57.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.280476,20.604524,3.481667,20.328571,14.686905,7.774524,0.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,270.00,110.000000,1.296000e+07,9.090909,2023-06-23,9.00
2,24088,39154,NaN,357570,2023-08-01,2023-10-18,#SiklusFarm,2023-07-12 01:13:05,2023-10-19 04:23:11,2000.0,0.0,1.25,120.0,20.0,2024-04-12 17:02:22,Free,2023-07-12 01:13:05,1004.0,gross,PT. Tri Karta Pratama - Total Kualitas Prima,A3,50.00,40.00,1.4,78,2.0,0.0,4806.5,76.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.202981,30.359206,5.608708,29.510831,28.864215,7.576966,0.618161,68.916667,0.0,0.000000,0.011111,0.008200,17.044444,680.555556,119.855556,575.700000,0.000000,15.777778,8.455556,212305.555556,2929.70,90.275000,1.644398e+08,11.077264,2023-10-17,17.07
3,17743,20914,1.0,168275,2022-07-19,2022-09-29,#SiklusCustomerPermadi,2022-08-14 04:40:46,2022-10-06 00:09:36,1512.0,0.0,1.25,100.0,55.0,2024-04-12 17:02:22,Free,NaT,3.0,actual,PT. Central Proteinaprima Tbk,B4,54.00,28.00,1.5,72,NaN,NaN,2328.0,70.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.531507,0.000000,4.436712,23.849315,0.000000,7.788767,0.000000,45.205479,0.0,0.005370,0.000000,0.030822,17.671233,126.602740,50.753425,140.136986,0.821918,16.849315,13.945205,66952.191781,1496.54,85.900000,0.000000e+00,11.641444,2022-09-26,13.45
4,17125,34187,1.0,188000,2022-07-07,2022-09-20,#SiklusTebar,2022-07-12 00:24:30,2022-10-15 04:27:24,1225.0,0.0,1.25,100.0,55.0,2024-04-12 17:02:22,Free,2022-07-12 00:24:30,35.0,net,PT Windu Alam Sentosa,A,35.00,35.00,1.2,75,3.0,1.0,1971.1,73.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.976260,28.492253,5.016713,13.450133,13.420467,7.712487,1.862840,0.000000,0.0,0.006827,0.000000,0.044667,9.813333,176.000000,29.333333,146.666667,0.160000,9.733333,4.440000,22466.666667,262.00,106.500000,1.492800e+07,9.389671,2022-09-06,6.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,19131,34712,2.0,300000,2022-10-25,2023-01-21,NaN,2022-10-25 10:13:31,2023-01-25 08:01:19,4999.9,0.0,1.25,88.0,55.0,2024-04-12 17:02:22,Free,NaT,1020.0,actual,MATERNIDADE NACALA,E01,70.71,70.71,1.5,88,NaN,NaN,7003.0,88.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.966236,29.223502,4.410918,4.067416,0.067416,7.495993,7.690262,41.853933,0.0,0.000000,0.000000,0.097528,23.820225,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,46118.573034,5180.00,18.400000,0.000000e+00,54.347826,2023-01-18,22.44
2496,27552,45697,1.0,100000,2023-11-05,2024-02-13,#TBR03,2023-11-18 03:43:40,2024-03-27 02:52:36,900.0,0.0,1.25,120.0,55.0,2024-04-12 17:02:22,Free,2023-11-18 03:43:40,1022.0,net,Windu Segara Anyar,Kolam 4,45.00,20.00,1.5,100,14.0,6.0,1340.5,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.554927,30.546273,3.903982,22.975273,23.244182,6.918727,1.782800,0.000000,0.0,0.014636,0.000000,0.004145,22.309091,771.454545,95.890909,300.436364,0.436364,16.418182,7.924727,49785.490909,824.12,101.333333,4.037140e+07,9.868421,2024-02-12,10.92
2497,27885,24570,1.0,30716,2023-12-02,2024-02-29,#TBR05,2023-12-03 03:06:01,2024-03-03 03:03:26,86.0,0.0,1.25,120.0,20.0,2024-04-12 17:02:22,Free,NaT,83.0,gross,CV Raja Benur,Bagus,10.71,8.03,1.0,89,3.0,0.0,470.0,77.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.508375,23.721708,3.943188,5.475823,4.492135,7.774729,0.835104,0.000000,0.0,0.000000,0.125000,0.000208,5.416667,0.000000,3.437500,9.479167,1.166667,9.208333,633.237708,5416.666667,191.70,162.750000,0.000000e+00,6.144393,2024-01-25,8.20
2498,15868,32398,1.0,150000,2022-04-28,2022-06-21,#SiklusTebar,2022-05-08 16:02:51,2022-08-23 03:12:20,1600.0,0.0,1.25,100.0,55.0,2024-04-12 17:02:22,Free,2022-05-08 16:02:51,35.0,gross,PT Windu Alam Sentosa,B 4.1,45.00,35.00,2.0,54,2.0,0.0,663.0,53.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.410489,29.643106,4.606851,16.271170,16.368553,7.005936,2.072830,0.000000,0.0,0.000128,0.000000,0.000957,2.000000,85.106383,14.893617,70.212766,0.000000,2.000000,1.042553,15000.000000,678.71,193.333333,2.561098e+07,5.172414,2022-06-21,5.30
2499,20849,35913,1.0,384000,2023-02-09,2023-04-07,NaN,2023-02-14 00:23:40,2023-04-14 00:04:22,2915.0,0.0,1.25,100.0,40.0,2024-04-12 17:02:22,Free,NaT,83.0,actual,CV Raja Benur,A4,55.00,53.00,1.7,57,2.0,1.0,2659.0,57.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.285714,0.000000,0.000000,13.785714,0.000000,6.657143,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,24.000000,0.000000,0.000000,0.000000,0.857143,6.571429,13.142857,107857.142857,2650.17,124.333333,1.333192e+08,8.042895,2023-03-31,7.46