In [10]:
import pandas as pd 
import datetime
import numpy as np
pd.set_option('display.max_columns',None)

from transform import cycle,fasting,feed,measurement,pond_farm,sampling_harvest

In [4]:
cyc = cycle.trans_cycle()
fas = fasting.trans_fast()
fee = feed.trans_feed()
mea = measurement.trans_meas()
pon = pond_farm.trans_pond()
sam = sampling_harvest.trans_samhar()

c:\Data Engineering\Jala\transform\cycle.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cyc.finished_at.fillna(datetime.datetime.now(),inplace=True)
c:\Data Engineering\Jala\transform\fasting.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  fast.fasting.replace('nan','0',inplace=True)
c:\Data Engineering\Jala\transform\feed.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  fee.logged_at = fee.logged_at.fillna(method='ffill')
c:\Data Engineering\Jala\transform\sampling_harvest.py:39: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  har.selling_price.fillna(0,inplace=True)

In [6]:
pon

,pond_id,length,width,deep,max_seed_density,province,regency,timezone,h_tz,mnt_tz
0,2117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9,16.70,36.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7,46.50,32.60,1.1,131.926121,NaN,NaN,NaN,NaN,NaN
4,8,48.50,33.00,1.1,124.921924,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
333,44514,31.00,30.00,1.3,129.032258,JAWA TIMUR,PACITAN,+07:00,7.0,0.0
334,37697,81.65,61.24,NaN,0.012000,NaN,NaN,NaN,NaN,NaN
335,44579,21.00,14.00,1.3,NaN,NaN,NaN,NaN,NaN,NaN
336,44613,40.00,40.00,1.5,168.750000,NaN,NaN,NaN,NaN,NaN
337,44982,53.00,45.00,1.0,35.220126,NaN,NaN,NaN,NaN,NaN

In [8]:
features = cyc.merge(fas,how='left',on='cycle_id')\
    .merge(fee,how='left',on='cycle_id')\
        .merge(pon,how='left',on='pond_id')\
            .merge(mea,how='left',on='cycle_id')\
                .merge(sam,how='left',on='cycle_id')

In [11]:
features

,cycle_id,pond_id,species_id,total_seed,started_at,finished_at,remark,created_at,updated_at,area,initial_age,limit_weight_per_area,target_cultivation_day,target_size,extracted_at,subscription_type,ordered_at,hatchery_id,total_seed_type,hatchery_name,pond_name,pond_length,pond_width,pond_depth,cyc_dur,fasting,cons_fast_count,quantity,cons_feed_count,length,width,deep,max_seed_density,province,regency,timezone,h_tz,mnt_tz,morning_temperature,evening_temperature,morning_do,morning_salinity,evening_salinity,morning_pH,evening_pH,transparency,turbidity,ammonia,nitrate,nitrite,alkalinity,hardness,calcium,magnesium,carbonate,bicarbonate,tom,total_plankton_,weight,size,selling_price,avg_weight_har,sampled_at,average_weight
0,18876,36294,1.0,331920,2022-10-14,2023-01-29,NaN,2022-10-14 12:34:23,2023-01-30 01:46:27,4030.0,0.0,2.00,110.0,35.0,2024-04-12 17:02:22,Free,NaT,66.0,net,UD. Benur Ndaru Laut,H,65.00,62.00,1.0,107,22.0,8.0,4660.0,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.519626,22.496573,3.722430,9.280374,0.869159,7.222430,1.755140,45.327103,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1853.50,91.500000,9.968670e+07,10.928962,2023-01-28,12.03
1,22118,37102,1.0,40000,2023-04-26,2023-06-23,#TBR01,2023-04-30 22:28:13,2023-06-26 05:35:32,399.0,0.0,1.25,120.0,100.0,2024-04-12 17:02:22,Free,NaT,83.0,net,CV Raja Benur,A1,30.00,20.00,1.0,58,1.0,1.0,361.5,58.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.280476,20.604524,3.481667,20.328571,14.686905,7.774524,0.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,270.00,110.000000,1.296000e+07,9.090909,2023-06-23,9.00
2,24088,39154,NaN,357570,2023-08-01,2023-10-18,#SiklusFarm,2023-07-12 01:13:05,2023-10-19 04:23:11,2000.0,0.0,1.25,120.0,20.0,2024-04-12 17:02:22,Free,2023-07-12 01:13:05,1004.0,gross,PT. Tri Karta Pratama - Total Kualitas Prima,A3,50.00,40.00,1.4,78,2.0,1.0,4806.5,77.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.202981,30.359206,5.608708,29.510831,28.864215,7.576966,0.618161,68.916667,0.0,0.000000,0.011111,0.008200,17.044444,680.555556,119.855556,575.700000,0.000000,15.777778,8.455556,212305.555556,2929.70,90.275000,1.644398e+08,11.077264,2023-10-17,17.07
3,17743,20914,1.0,168275,2022-07-19,2022-09-29,#SiklusCustomerPermadi,2022-08-14 04:40:46,2022-10-06 00:09:36,1512.0,0.0,1.25,100.0,55.0,2024-04-12 17:02:22,Free,NaT,3.0,actual,PT. Central Proteinaprima Tbk,B4,54.00,28.00,1.5,72,NaN,NaN,2328.0,71.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.531507,0.000000,4.436712,23.849315,0.000000,7.788767,0.000000,45.205479,0.0,0.005370,0.000000,0.030822,17.671233,126.602740,50.753425,140.136986,0.821918,16.849315,13.945205,66952.191781,1496.54,85.900000,0.000000e+00,11.641444,2022-09-26,13.45
4,17125,34187,1.0,188000,2022-07-07,2022-09-20,#SiklusTebar,2022-07-12 00:24:30,2022-10-15 04:27:24,1225.0,0.0,1.25,100.0,55.0,2024-04-12 17:02:22,Free,2022-07-12 00:24:30,35.0,net,PT Windu Alam Sentosa,A,35.00,35.00,1.2,75,3.0,2.0,1971.1,74.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.976260,28.492253,5.016713,13.450133,13.420467,7.712487,1.862840,0.000000,0.0,0.006827,0.000000,0.044667,9.813333,176.000000,29.333333,146.666667,0.160000,9.733333,4.440000,22466.666667,262.00,106.500000,1.492800e+07,9.389671,2022-09-06,6.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,19131,34712,2.0,300000,2022-10-25,2023-01-21,NaN,2022-10-25 10:13:31,2023-01-25 08:01:19,4999.9,0.0,1.25,88.0,55.0,2024-04-12 17:02:22,Free,NaT,1020.0,actual,MATERNIDADE NACALA,E01,70.71,70.71,1.5,88,NaN,NaN,7003.0,89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.966236,29.223502,4.410918,4.067416,0.067416,7.495993,7.690262,41.853933,0.0,0.000000,0.000000,0.097528,23.820225,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,46118.573034,5180.00,18.400000,0.000000e+00,54.347826,2023-01-18,22.44
2496,27552,45697,1.0,100000,2023-11-05,2024-02-13,#TBR03,2023-11-18 03:43:40,2024-03-27 02:52:36,900.0,0.0,1.25,120.0,55.0,2024-04-12 17:02:22,Free,2023-11-18 03:43:40,1022.0,net,Windu Segara Anyar,Kolam 4,45.00,20.00,1.5,100,14.0,7.0,1340.5,87.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.554927,30.546273,3.903982,22.975273,23.244182,6.918727,1.782800,0.000000,0.0,0.014636,0.000000,0.004145,22.309091,771.454545,95.890909,300.436364,0.436364,16.418182,7.924727,49785.490909,824.12,101.333333,4.037140e+07,9.868421,2024-02-12,10.92
2497,27885,24570,1.0,30716,2023-12-02,2024-02-29,#TBR05,2023-12-03 03:06:01,2024-03-03 03:03:26,86.0,0.0,1.25,120.0,20.0,2024-04-12 17:02:22,Free,NaT,83.0,gross,CV Raja Benur,Bagus,10.71,8.03,1.0,89,3.0,1.0,470.0,78.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.508375,23.721708,3.943188,5.475823,4.492135,7.774729,0.835104,0.000000,0.0,0.000000,0.125000,0.000208,5.416667,0.000000,3.437500,9.479167,1.166667,9.208333,633.237708,5416.666667,191.70,162.750000,0.000000e+00,6.144393,2024-01-25,8.20
2498,15868,32398,1.0,150000,2022-04-28,2022-06-21,#SiklusTebar,2022-05-08 16:02:51,2022-08-23 03:12:20,1600.0,0.0,1.25,100.0,55.0,2024-04-12 17:02:22,Free,2022-05-08 16:02:51,35.0,gross,PT Windu Alam Sentosa,B 4.1,45.00,35.00,2.0,54,2.0,1.0,663.0,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.410489,29.643106,4.606851,16.271170,16.368553,7.005936,2.072830,0.000000,0.0,0.000128,0.000000,0.000957,2.000000,85.106383,14.893617,70.212766,0.000000,2.000000,1.042553,15000.000000,678.71,193.333333,2.561098e+07,5.172414,2022-06-21,5.30
2499,20849,35913,1.0,384000,2023-02-09,2023-04-07,NaN,2023-02-14 00:23:40,2023-04-14 00:04:22,2915.0,0.0,1.25,100.0,40.0,2024-04-12 17:02:22,Free,NaT,83.0,actual,CV Raja Benur,A4,55.00,53.00,1.7,57,2.0,2.0,2659.0,58.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.285714,0.000000,0.000000,13.785714,0.000000,6.657143,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,24.000000,0.000000,0.000000,0.000000,0.857143,6.571429,13.142857,107857.142857,2650.17,124.333333,1.333192e+08,8.042895,2023-03-31,7.46